{% extends "layout/basic.html" %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<h2>Объявления: {{ user.username }}</h2>
{% for bb in bbs %}
{% if bb.buser == user.username %}
<div>
    {% if bb.rubric.name == 'Авто' %}
    <h2><a href="{% url 'detail_car' pk=bb.pk %}">{{ bb.title }}</a></h2>
    {% else %}
    <h2><a href="{% url 'detail' pk=bb.pk %}">{{ bb.title }}</a></h2>
    {% endif %}
    <p>{{ bb.content }}</p>
    <b><p>{{ bb.price }} руб.</p></b>
    <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
</div>
{% endif %}
{% endfor %}
{% endblock %}
    